<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tasks</title>
    <script src='/assets/test.js'></script>
  </head>
  <body>
    <h1>Tasks</h1>
    {{#each tasks as |task|}}
      <div>
        <h2>{{task.title}}</h2>
        {{#each task.items as |item|}}
          <div>
            {{log item}}
            <a href='{{item.link}}' target='_blank'>{{item.title}}</a>
            <span>{{item.description}}</span>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </body>
</html>
